{% extends "layout.html" %}
{% block body %}

    <div class="row white_tile">
        <div class="well span3" style="padding: 8px 0; margin-top: 20px;">
        <ul class="nav nav-list post-list">
            <li class="nav-header">
                Posts 
            </li>
            {% for post in valid_post_list %}
            <li><a class="post_toggle_link" href="#/{{ post.id }}">{{ post.name }}</a></li>
            {% endfor %}
        </ul>
        </div>
        <div class="span3">
            <button class="btn btn-primary" style="margin-top: 20px;">
                Submit My Vote! &rarr;
            </button>
        </div>

        <div class="span8">
            <h1 class="post_heading"> </h1>
            <div class="post_listing" id="main"> </div>
        </div>
    </div>
{% endblock %}


{% block custom_js %}
    <script src="{{ url_for('static', filename='js/sammy.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/sammy.template.js')}}"></script>
    <script src="{{ url_for('static', filename='js/voting_sammy.js')}}"></script>
{% endblock %}
