{% extends "layout.html" %}
{% block body %}

    <div class="row white_bg">

        <div class="sidebar span3">
           <ul class="nav nav-list post-list">
                <li class="nav-header">
                    Posts 
                </li>
                {% for post in valid_post_list %}
                <li><a class="post_toggle_link" href="#/{{ post.id }}">{{ post.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

            <button class="btn btn-large btn-primary" style="margin-top: 20px; margin-right: 40px; float: right;"> Submit My Vote! &rarr; </button>

        <div class="topdiv span8">
            <h1 class="post_heading"> </h1>
            <div class="post_listing" id="main"> </div>
        </div>
    </div>

    <div id="myModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>Voting Application</h3>
        </div>
        <div class="modal-body">
            <h4>Lets keep this short</h4>
            <ol>
                <li>Use the left sidebar to move between posts</li>
                <li>Click on your favorite candidates to select them</li>
                <li>Keep moving from post to post and continue voting</li>
                <li>When you're done click on the BIG BLUE button and submit your vote</li>
                <li>Win!</li>
            </ol>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal" >Close</a>
        </div>
    </div>
{% endblock %}


{% block custom_js %}
    <script src="{{ url_for('static', filename='js/sammy.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/sammy.template.js')}}"></script>
    <script src="{{ url_for('static', filename='js/sammy.json.js')}}"></script>
    <script src="{{ url_for('static', filename='js/sammy.storage.js')}}"></script>
    <script src="{{ url_for('static', filename='js/voting_sammy.js')}}"></script>
{% endblock %}
